<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is my first <a href="http://rubyonrails.org"><em>Ruby on Rails
  </em></a> application.
</p>
<p>
  Resources include
  <a href="http://www.railstutorial.org/book">Rails Tutorial</a> and
  <a href="http://www.heroku.com/">Heroku</a>.
</p>
<p>
  You can review my code at 
  <a href="https://bitbucket.org/malison13/hangman_1/src">Bitbucket.org</a>.
</p>
