<div class="center jumbotron">
  <h1>Welcome to Hangman</h1>

  <h2>
    This is the home page.
  </h2>

  <%= link_to "Start game!", new_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("gallows.png", alt: "gallows"), new_path %>