<% provide(:title, "Play") %>

<h1><%= progressForDisplay(@game.progress) %></h1>

<h2>
	Incorrect guesses: <%= 10-@game.guess_count %>
</h2>

<center>

	<% if won(@game) %>
  	<h1>You won!</h1>
	<% elsif lost(@game) %>
  	<h1>You lost! Solution: <%= @game.solution %> </h1>
	<% else %>
    <% ('a'..'z').to_a.each do |letter| %>
      <%= link_to letter, update_path({:id => @game.id, :guess => letter}), method: :post, class: "btn btn-sm btn-primary" %>
    <% end %>
	<% end %>

	<% if isOver(@game) %>
		<div>
  		<%= link_to "Play Again", new_path, class: "btn btn-lg btn-primary" %>
		</div>
	<% end %>

	<% num = @game.guess_count %>

<%= showHangman(num) %>

</center>