<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "hangman", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Play",   new_path %></li>
        <li><%= link_to "Stats",   stats_path %></li>
        <li><%= link_to "About",  about_path %></li>
      </ul>
    </nav>
  </div>
</header>